.Chair {
  &.booking {
    color: #ffffff;
    background: #078eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    outline: none;
  }
  &.booked {
    background: rgb(71, 68, 68) !important;
    color: white;
    pointer-events: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    outline: none;
  }
  &.bookingModel {
    color: #ffffff;
    background: #078eee;
    outline: none;
  }
  &.bookedModel {
    background: rgb(71, 68, 68) !important;
    color: white;
    pointer-events: none;

    outline: none;
  }
}
